.bDetailsContainer {
  min-height: 100vh;
  padding: 50px;
}
.bdContent {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.bookImageDiv {
  padding: 20px;
}
.bookInfo {
  padding: 20px;
  p {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}
.starContent {
  padding-top: 30px;
  text-align: center;
}
.cateName {
  margin: 5px 0 0 20px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #d7dcdf;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.reviewButton {
  margin-top: 100px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #19626a;
  color: #fff;
  font-size: 18px;
  width: 50%;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.rsButton {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #19626a;
  color: #fff;
  font-size: 18px;
  width: 30%;
}
.alertMessage {
  padding: 10px;
  background-color: #0b9706;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}
.falertMessage {
  padding: 10px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.bookReadAndDownloadButton1 {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #1f0788;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookReadAndDownloadButton2 {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #9c1010;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookmarkSection {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(85, 83, 83);
  border-radius: 7.5px;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalCloseBtn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.modalBody {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}